[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
pylint = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[scripts]
format = "black ./src && isort ./src"
lint = "pylint ./src"
run:dev = "FLASK_APP=src/app.py FLASK_ENV=development flask run"
run:prod = "FLASK_APP=src/app.py FLASK_ENV=production flask run"
run:test:unit = "pytest ./tests/unit"
run:test:int = "pytest ./tests/integration"

[requires]
python_version = "3.11"
